#top-nav,
#acess {
    display: none !important;
}

#site-title {
    span {
        a {
            text-decoration: underline;
            font-family: $ff-goldplay;

            &:before {
                width: 0;
            }
        }
    }
}


@include media-breakpoint-up(sm) {
    #site-title {
        a {
            font-size: .8em !important;
        }
    }
}

@include media-breakpoint-up(md) {}

@include media-breakpoint-up(lg) {}

@include media-breakpoint-up(xl) {}

@include media-breakpoint-up(xxl) {}