@import './../../node_modules/bootstrap/scss/bootstrap.scss';

@import '_colors';
@import '_fonts';
@import '_variables';
@import '_titles';
@import '_buttons';

@import '_mixins';

@import '_header';
@import '_menu';
@import '_base';
@import '_home';
@import '_footer';
